@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: var(--Violet);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

section{
  min-height: 100vh;

}

:root {
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
}